*{
    margin: 2px;
    padding:5px;
   
}
.navbar-brand{
    font-size:25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px;
    font-style:oblique;
    font-weight: bolder;
    color: white;
}
.navbar{
    background-color: rgb(61, 61, 61);
}
.my{
    background-color: rgb(179, 184, 189);
}
.nav-link{
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight:500;
    padding:7px;
    justify-content: space-between;
    /* background-color: black; */
}
.nav-link:hover{
    font-weight: 700;
    color: rgb(155, 148, 148);
}
.kmit{
    background-image: linear-gradient(rgb(204, 198, 198), lightgray);
}
body{
    background-color: rgb(255, 255, 255);
}
.footer-icons{
    padding: auto;
    background-color: lightgray;
    display: inline-block;
    list-style: none;
}
footer{
    background: #b4b4b4;
}
a{
    color: black;

}
